

a.menu-item {
  font-size: 12px;;
  display: inline-block;
  background-color: rgba(100,100,100,0.5);
  color: white;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 5px;
  padding: 3px;
}

body {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  background-color: gray;
}

button {
  color: white;
  background-color: #444;
  border: solid;
  border-color: white;
  display: inline-flex;
  height: 14px;
  font-size: 9px;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 400px;
  max-height: 200px;
  border-radius: 20px;
}

input {
  font-size: 10px;
  margin: 2px;
}

td {
  padding: 5px;
}

/* textarea {
  font-family: sans-serif;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.date {
  text-align: center;
}

.headline-div {
  height: 1200px;
}

.c-buttons {
  margin-right: 100px;
  display: flex;
  justify-content: center;
}

.calendar {
  background-color: #046307;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.calendar-2 {
  background-color: #046307;
  color: white;
  padding: 5px;
}

.card-align {
  margin-bottom: 25px;
  margin-top: 25px;
}

.client {
  font-size: 10px;
  max-height: 14px; 
}

.client:hover {
  background-color: #f6de90
}

.content-panel {
  background-color: white;
  display: block;
  position: relative;
  clear: both;
  margin: auto;
  width: 60%;
  padding: 50px;
}

.contact-day {
  font-size: 12px;
}

.day {
  font-size: 24px;
}

.edit-gig-button {
  background-color: white;
}

.edit-gig-button:hover {
  background-color: white;
}

.error {
  color: red;
  background-color: black;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000;
}

.form-title {
  color: white;
  font-size: 12px;
  font-weight: bold;
  background-color: #046307;
  padding: 3px;
}

.gig-row:hover {
  background-color: #f6de90;
}

.blurf {
  background-image: url('./assets/gold-coins.png');
  background-color: #699;
  display: flex;
  margin: auto;
  width: 60%;
  padding-right: 50px;
  padding-left: 50px;
}

.header-align {
  color: white;
  font-size: 18px;
  /* background-color: rgba(0,0,0,0.2); */
  text-shadow: -1px 1px 0 #000,
				      1px 1px 0 #000,
				      1px -1px 0 #000;
  display: flex;
  float: left;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
  width: 60%;
}

.logged-in {
  font-size: 12px;
  width: 30%;
  padding: 15px;
}

.login-align {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  float: right;
  padding: 15px;
  width: 30%;
}

.menu-align {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 1px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 100px;
}

.modal-content {
  max-width: 500px;
  background-color: #fff;
  padding: 5px;
  font-size: 12px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.month {
  font-size: 18px;
}

.contact-month {
  font-size: 9px;
}

/* .splash {
  background-color: #666;
} */

.user-email {
  color: white;
  padding: 15px;
  background-color: rgba(0,0,0,0.4);
  display: block;
}

.workorder-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: #3ac;
  padding: 3px;
}
