
img {
  max-width: 400px;
  max-height: 200px;
  border-radius: 20px;
}

a.menu-item {
  display: inline-block;
  background-color: #3ac;
  color: white;
  text-decoration: none;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 5px;
  padding: 1px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.band {
  max-width: 400px;
  max-height: 200px;
  border-radius: 20px;
}

.band-items {
  margin-bottom: 0px;
}

.band-image {
  margin-top: 100px;
  width: 100px;
  height: 200px;
  border-radius: 20px;
}

.headline-div {
  height: 1200px;
}

.c-buttons {
  margin-right: 100px;
  display: flex;
  justify-content: center;
}

.card-align {
  margin-bottom: 25px;
  margin-top: 25px;
}

.header-align {
  display: flex;
  float: left;
  justify-content: center;
  padding: 5px;
  overflow: hidden;
  width: 66%;
}

.menu-align {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 1px;
}

.logged-in {
  font-size: 12px;
}

.login-align {
  display: flex;
  position: relative;
  float: right;
  overflow: hidden;
  padding: 5px;
  max-width: 33%;
}

.concession-header-align {
  margin-top: 20px;
}